doctype html
html(lang="en" )
  head
    title= pageTitle
    link(href="/css/style.css" type="text/css" rel="stylesheet" media="screen")
    meta(charset="UTF-8")
  body
    #header
      h1 Multimedia Logging Service
    #container
      table.logging
        tr
          th 上午
          th 下午
        tr
          td 语文
          td 数学
        tr
          td 英语
          td 嘿嘿
